<h1> </h1>
<h1>Sites</h1>

{% set name, host, port, side = get_this_site_jinja2() %}
{% set other_name, other_host, other_port = get_other_site_jinja2() %}

{% if side == 'left' %}
<div id='menu'>
  <a href='http://{{host}}:{{port}}' style='background:#c0c0c0;'>  {{name}}  </a>
  <a href='http://{{other_host}}:{{other_port}}'>  {{other_name}}  </a>
</div>
{% else %}
  <a href='http://{{other_host}}:{{other_port}}'>  {{other_name}}  </a>
  <a href='http://{{host}}:{{port}}' style='background:#c0c0c0;'>  {{name}}  </a>
{% endif %}
