{% set title = 'P12 Log' + ' . ' + logday %}

{% extends 'base.html' %}

{% block content %}

{% if blocks is not none %}
<div style='display:flex;justify-content:center;'>
  <a href='/plot_predict_naive/{{ logday }}'>Today Naive</a>&nbsp;&nbsp
  <a href='/plot_ai_cast/{{ logday }}'>Today AI</a>&nbsp;&nbsp
  <a href='/plot_predict/{{ logday }}/today'>Today Cast</a>&nbsp;&nbsp
  <a href='/plot_predict/{{ logday }}/tomorrow'>Tomorrow Cast</a>&nbsp;&nbsp
  <a href='/plot_predict/{{ logday }}/total'>Total Cast</a>
</div>
{% endif %}

<div style='display:flex;justify-content:center;'>
  <div style='margin:30px;width:90px;text-align:center;'>
    <a href='/plot_day/{{ log365daysago }}'>&lt;365</a>&nbsp;&nbsp
    <a href='/plot_day/{{ logyesterday }}'>&lt;1</a>&nbsp;&nbsp;&nbsp;&nbsp
  </div>
  
  <h1 style='margin:4px;'>Log Day {{ logday }}</h1>


  <div style='margin:30px;width:90px;text-align:center;'> 
    {% if blocks is none %}
      <a href='/plot_day/{{ logtomorrow }}'>1&gt</a>&nbsp;&nbsp
      <a href='/plot_day/{{ log365daysahead }}'>365&gt</a>
    {% endif %}
  </div>
</div>

{% if blocks is not none %}
  <div style='display:flex;justify-content:center;' >
    <img src='data:image/png;base64,{{blocks}}'/>
  </div>
{% endif %}
<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{w}}'/>
</div>
<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{kwh}}'/>
</div>

{% endblock content %}
