{% set title = 'P12 Kraftwerk' %}

{% extends 'base.html' %}

{% block content %}

{% if what == 'Today' %}
<div style='display:flex;justify-content:center;'>
  <a href='/plot_predict/{{ logday }}/tomorrow'>Tomorrow Cast</a>&nbsp;&nbsp;
  <a href='/plot_predict/{{ logday }}/total'>Total Cast</a>
</div>

<h1 style='margin:4px;'>Today Cast</h1>
{% endif %}

{% if what == 'Tomorrow' %}
<div style='display:flex;justify-content:center;'>
  <a href='/plot_predict/{{ logday }}/today'>Today Cast</a>&nbsp;&nbsp;
  <a href='/plot_predict/{{ logday }}/total'>Total Cast</a>
</div>

<h1 style='margin:4px;'>Tomorrow Cast</h1>
{% endif %}

{% if what == 'Total' %}
<div style='display:flex;justify-content:center;'>
  <a href='/plot_predict/{{ logday }}/today'>Today Cast</a>&nbsp;&nbsp;
  <a href='/plot_predict/{{ logday }}/tomorrow'>Tomorrow Cast</a>
</div>

<h1 style='margin:4px;'>Total Cast</h1>
{% endif %}


<div style='display:flex;justify-content:center;margin:4px;''>
  Using&nbsp;closest&nbsp;days
  {% for pd in predictdays %}
  <a href='/plot_day/{{pd}}'>&nbsp;{{pd}}</a>
  {% endfor %}
  &nbsp;from&nbsp;{{start}}&nbsp;TO&nbsp;{{stop}}</br>
</div>

<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{w}}'/>
</div>
<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{kwh}}'/>
</div>

<div style='display:flex;justify-content:center;' >
  <h3>Phase Hours (Wh)</h3>
</div>  
<div style='display:flex;justify-content:center;' >
  {{ predicttables[0].to_html(
  border=0,
  col_space=70,
  justify='center',
  float_format='{:,.0f}'.format)
  .replace('<td>', '<td align="center">') | safe }}
</div>

<div style='display:flex;justify-content:center;' >
  <h3>Accumulated Phase Hours (Wh)</h3>
</div>  
<div style='display:flex;justify-content:center;' >
  {{ predicttables[1].to_html(
  border=0,
  col_space=70,
  justify='center',
  float_format='{:,.0f}'.format)
  .replace('<td>', '<td align="center">') | safe }}
</div>

{% endblock content %}
