{% set title = 'P12 Kraftwerk' %}

{% extends 'base.html' %}

{% block content %}

{% if blocks is not none %}
<div style='display:flex;justify-content:center;'>
  <a href='/plot_predict/{{ logday }}/today' target='_blank'>Today Cast</a>&nbsp;&nbsp
  <a href='/plot_predict/{{ logday }}/tomorrow' target='_blank'>Tomorrow Cast</a>&nbsp;&nbsp
  <a href='/plot_predict/{{ logday }}/total' target='_blank'>Total Cast</a>
</div>
{% endif %}

<h1 style='margin:4px;'>Log Day {{ logday }}</h1>

{% if blocks is not none %}
  <div style='display:flex;justify-content:center;' >
    <img src='data:image/png;base64,{{blocks}}'/>
  </div>
{% endif %}
<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{w}}'/>
</div>
<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{kwh}}'/>
</div>

{% endblock content %}
