{% set title = 'P12 Kraftwerk' %}

{% extends 'base.html' %}

{% block content %} 
<h1 style='margin:4px;'>Log Month {{ logmonth }}</h1>

<div style='display:flex;justify-content:center;' >
  <img src='data:image/png;base64,{{kwh}}'/>
</div>

<div style='display:flex;justify-content:center;' >
  <div style='width:210px; text-align:center;' >
  {% for ld in get_logdays_jinja2() | sort %}
    {% if ld[:-2] == logmonth %}
       <a href='/plot_day/{{ld}}'>{{ld[4:]}}</a>&nbsp;&nbsp
    {% endif %}
  {% endfor %}
  </div>
</div>

{% endblock content %}
